<br>

<div class="jumbotron">
  <%= @movie.errors.full_messages.first if @movie.errors.any? %>

  <%= form_for(@movie) do |f| %>
      <%= f.label 'Movie Name' %><br>
      <%= f.text_field :name, :class => 'form-control', :placeholder => 'Some cool movie' %>
      <%= f.submit 'Save movie request', :class => 'btn btn-success'%>
      <%= link_to 'Back To Movies', movies_path, :class => 'btn btn-info' %>
  <% end %>
</div>
