<br>

<div class="panel panel-default">
  <div class="panel-heading">Movie Requests</div>

  <!-- Table -->
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Movie Name</th>
        <th>Downloaded</th>
        <th>Mark downloaded</th>
        <th>Destroy</th>
      </tr>
      </thead>
      <tbody>
      <% @movies.each do |movie| %>
          <tr>
            <td><%= movie.id %></td>
            <td><%= movie.name %></td>
            <td>
              <i class="<%= movie.status? ? "#{'glyphicon'} #{'glyphicon-ok'}" : "#{'glyphicon'} #{'glyphicon-remove'}" %>"></i>
            </td>
            <td><%= link_to 'downloaded', movie, method: :put %></td>
            <td><%= link_to 'destroy', movie, method: :delete, data: {confirm: 'Are you sure'} %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to 'New Movie', new_movie_path, :class => 'btn btn-success' %>

<br>
<br>
