<!DOCTYPE html>
<html>
<head>
  <title>Movie Requests</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to 'Movies', {:controller => 'movies', :action => 'index'}, :class => 'navbar-brand' %>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="http://192.168.1.100:32400/web">Plex Media</a></li>
      <li><a href="http://torrentz.eu/">Torrentz</a></li>
    </ul>
  </div>
</nav>

<div class="container">

    <%= yield %>

</div>

</body>
</html>
